<center>
  <a href="MLSD-08-ModelBuildingEvaluation-Ex-1.ipynb">Model Building Evaluation Exercise 1</a> | <a href="./">Content Page</a> | <a href="MLSD-08-ModelBuildingEvaluation-Ex-3.ipynb">Model Building Evaluation Exercise 3</a>
</center>

# <center>MODEL BUILDING EVALUATION: EXERCISE 2</center>

<center><b>Copyright &copy 2023 by DR DANNY POO</b><br> e:dannypoo@nus.edu.sg<br> w:drdannypoo.com</center><br>

# Predicting Student Grant Recommendation using Logistic Regression
Historical student performance data and their grant recommendation outcomes in file <b>`./data/student_records.csv`</b>.

Attributes/Features:
* <b>Name</b> (the student name)
* <b>OverallGrade</b> (overall grade obtained)
* <b>Obedient</b> (whether they were diligent during their course of stay)
* <b>ResearchScore</b> (marks obtained in their research work)
* <b>ProjectScore</b> (marks obtained in the project)
* <b>Recommend</b> (whether they got the grant recommendation)

To build a predictive model based on this data to predict for any future student whether he/she will be recommended for the grant based on his/her performance attributes.

Build a Logistic Regression classifier using <b>sklearn.linear_model.LogisticRegression</b>, fit it and carry out prediction.

**Load Data**

In [3]:
# Import packages and classes
# Write code here

In [4]:
# Get data
# Write code here



df

     Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
0   Henry            A        Y             90            85       Yes
1    John            C        N             85            51       Yes
2   David            F        N             10            17        No
3  Holmes            B        Y             75            71        No
4  Marvin            E        N             20            30        No
5   Simon            A        Y             92            79       Yes
6  Robert            B        Y             60            59        No
7   Trent            C        Y             75            33        No

**Explore Data**

In [5]:
# Get features and corresponding outcomes
# Write code here

In [6]:
# View features
training_features

  OverallGrade Obedient  ResearchScore  ProjectScore
0            A        Y             90            85
1            C        N             85            51
2            F        N             10            17
3            B        Y             75            71
4            E        N             20            30
5            A        Y             92            79
6            B        Y             60            59
7            C        Y             75            33

In [7]:
# View outcome labels
outcome_labels

  Recommend
0       Yes
1       Yes
2        No
3        No
4        No
5       Yes
6        No
7        No

In [8]:
# List down features based on type
numeric_feature_names      = ['ResearchScore', 'ProjectScore']
categoricial_feature_names = ['OverallGrade', 'Obedient']

In [9]:
# Import StandardScaler
# Write code here



# Instantiate scaler
# Write code here



# Fit scaler on numeric features
# Write code here



# Scale numeric features now
# Write code here



# View updated featureset
training_features

C:\Users\danny\AppData\Local\Temp\ipykernel_22952\4015139487.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  training_features[numeric_feature_names] = ss.transform(training_features[numeric_feature_names])

  OverallGrade Obedient  ResearchScore  ProjectScore
0            A        Y       0.899583      1.376650
1            C        N       0.730648     -0.091777
2            F        N      -1.803390     -1.560203
3            B        Y       0.392776      0.772004
4            E        N      -1.465519     -0.998746
5            A        Y       0.967158      1.117516
6            B        Y      -0.114032      0.253735
7            C        Y       0.392776     -0.869179

In [10]:
# One hot encoding categorical features
# Write code here



# View newly engineered categorical features
# Write code here

,ResearchScore,ProjectScore,OverallGrade_A,OverallGrade_B,OverallGrade_C,OverallGrade_E,OverallGrade_F,Obedient_N,Obedient_Y
0,0.899583,1.376650,1,0,0,0,0,0,1
1,0.730648,-0.091777,0,0,1,0,0,1,0
2,-1.803390,-1.560203,0,0,0,0,1,1,0
3,0.392776,0.772004,0,1,0,0,0,0,1
4,-1.465519,-0.998746,0,0,0,1,0,1,0
5,0.967158,1.117516,1,0,0,0,0,0,1
6,-0.114032,0.253735,0,1,0,0,0,0,1
7,0.392776,-0.869179,0,0,1,0,0,0,1

In [11]:
# Get list of new categorical features
categorical_engineered_features = list(set(training_features.columns) - set(numeric_feature_names))
print(categorical_engineered_features)

['OverallGrade_C', 'OverallGrade_F', 'OverallGrade_E', 'Obedient_Y', 'Obedient_N', 'OverallGrade_B', 'OverallGrade_A']

**Build Logistic Regression Model**<br>

In [12]:
# Import classifier
# Write code here




# Fit the Logistic Regression model
# Write code here




# View model parameters
model

LogisticRegression()

**Evaluate Logistic Regression Model**<br>

In [13]:
# Simple evaluation on training data
# Write code here




# Evaluate model performance
# Write code here




# Display accuracy and classification statistics
# Write code here

Accuracy: 100.0 %
Classification Stats:
              precision    recall  f1-score   support

          No       1.00      1.00      1.00         5
         Yes       1.00      1.00      1.00         3

    accuracy                           1.00         8
   macro avg       1.00      1.00      1.00         8
weighted avg       1.00      1.00      1.00         8

**Make Prediction with New Data**

In [14]:
# Create new student records for prediction
new_data = pd.DataFrame([{'Name': 'Nathan', 'OverallGrade': 'F', 'Obedient': 'N', 'ResearchScore': 30, 'ProjectScore': 20},
{'Name': 'Thomas', 'OverallGrade': 'A', 'Obedient': 'Y', 'ResearchScore': 78, 'ProjectScore': 80}])
new_data = new_data[['Name', 'OverallGrade', 'Obedient', 'ResearchScore', 'ProjectScore']]
new_data

     Name OverallGrade Obedient  ResearchScore  ProjectScore
0  Nathan            F        N             30            20
1  Thomas            A        Y             78            80

In [15]:
# Data preparation
# Write code here



# Scaling numeric features
# Write code here



# Engineer categorical variables
# Write code here



# View feature set
# Write code here

C:\Users\danny\AppData\Local\Temp\ipykernel_22952\1592724102.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prediction_features[numeric_feature_names] = ss.transform(prediction_features[numeric_feature_names])

,ResearchScore,ProjectScore,OverallGrade_A,OverallGrade_F,Obedient_N,Obedient_Y
0,-1.127647,-1.430636,0,1,1,0
1,0.494137,1.160705,1,0,0,1

In [16]:
# Add missing categorical feature columns
current_categorical_engineered_features = set(prediction_features.columns) - set(numeric_feature_names)
missing_features = set(categorical_engineered_features) - current_categorical_engineered_features

for feature in missing_features:
    # add zeros since feature is absent in these data samples
    prediction_features[feature] = [0] * len(prediction_features)

# View final feature set
prediction_features

,ResearchScore,ProjectScore,OverallGrade_A,OverallGrade_F,Obedient_N,Obedient_Y,OverallGrade_C,OverallGrade_E,OverallGrade_B
0,-1.127647,-1.430636,0,1,1,0,0,0,0
1,0.494137,1.160705,1,0,0,1,0,0,0

In [17]:
# Predict using model
# Write code here



# Display results
new_data['Recommend'] = predictions # add Recommend column to new_data
new_data

C:\Users\danny\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

     Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
0  Nathan            F        N             30            20        No
1  Thomas            A        Y             78            80       Yes

<center>
  <a href="MLSD-08-ModelBuildingEvaluation-Ex-1.ipynb">Model Building Evaluation Exercise 1</a> | <a href="./">Content Page</a> | <a href="MLSD-08-ModelBuildingEvaluation-Ex-3.ipynb">Model Building Evaluation Exercise 3</a>
</center>